<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <button type="submit" name="lettera" value="w">w</button>
        <button type="submit" name="lettera" value="a">a</button>
        <button type="submit" name="lettera" value="s">s</button>
        <button type="submit" name="lettera" value="d">d</button>
        <button type="submit" name="lettera" value=" ">STOP</button>
    </form>
    <script src="../static/script.js"></script>
</body>
</html>